@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 20px;
  padding: 16px 20px;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.header a {
  text-decoration: none;
}

section.homepage-section {
  background-image: url(Images/Background-image.png);
  background-size: cover;
  margin-top: 20px;
  padding: 16px 20px;
}

section.homepage-section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 327px;
  height: 101px;
}

p.homepage-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.homepage-quotes {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul.icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style-type: none;
  padding: 0;
}

section.sub-grid-display {
  display: grid;
  gap: 20px;
  padding: 10px 0;
  margin: 0 auto;
}

.sub-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px;
  padding: 15px 15px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

div.sub-card-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
}

h2.sub-header {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.sub-paragraph-page {
  text-align: left;
}

ul.sub-titles {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

ul.sub-titles li {
  white-space: pre;
  padding: 5px;
}

ul.sub-titles li::after {
  content: b7;
}

ul.sub-titles li:last-child::after {
  content: none;
}

p.sub-paragraph-page {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.sub-button {
  color: #f4f5f7;
  background: #e5e5e5;
  font-weight: 500;
}

.sub-button:hover {
  color: #fff;
  background: #e5e5e5;
  border: 1px solid "#ced6de";
  border-radius: 2px;
}

.sub-button:enabled {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  color: #6070ff;
}

.sub-button:hover :enabled {
  background: #fff;
  color: #6070ff;
}

.sub-button:active {
  background: #2230d2;
  border-radius: 8px;
}

.sub-button:hover :active{
  background-color: #2230d2;
  color: #fff;
}

.sub-button:disabled {
  background: #e5e5e5;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 3%;
  color: #5e6c84;
  padding: 12px;
}

ul.sub-icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 70%;
  gap: 10px;
}

ul.sub-icons li {
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-size: 12px;
}

button.sub-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.mylist-item span {
  margin-left: 10px;
}

section.sub-language {
  flex-direction: column;
  display: flex;
}

div.sub-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
  margin-bottom: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.sub-row {
  flex-direction: row;
}

.sub-language .sub-column .sub-row span {
  width: 600px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.list {
  list-style-type: none;
}

.mylist {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
}

.mylist-item {
  display: flex;
  padding: 15px 10px;
  background-color: #f7f7f9;
  margin-top: 5 px;
  width: 303px;
  height: 66.72px;
  align-items: center;
  margin-bottom: 10px;
}

.language-heading {
  display: flex;
  justify-content: space-between;
  width: 327px;
  margin-top: 20px;
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
}

.divider {
  width: 327px;
  border: 1px solid #dfe1e6;
  margin: 10px 0;
}
